<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta name='viewport' content='width=devicewidth,initial-scale=1'>
		<meta charset='utf-8'>
		<link rel='shortcut icon' href='/favicon.ico' type='image/x-icon' />
		<link rel='stylesheet' href='/style.css' type='text/css'>
		<script src='/index.js' type='text/javascript'></script>
		<title>Exercise Tracker</title>
	</head>
	<body>
		<h1>Exercise Tracker</h1>
		
		<form action='/api/exercise/new-user' method='post'>
			<h4>Create a new user</h4>
			<input type='text' placeholder='Enter username here' name='username'><br>
			<button type='submit'>Submit</button>
		</form>
		<form action='/api/exercise/add' method='post' onsubmit='onSubmit()'>
			<h4>Add exercises</h4>
			<input type='text' placeholder='ID*' name='id'><br>
			<input type='text' placeholder='description*' name='desc'><br>
			<input type='number' placeholder='duration*' name='dur'><br>
			<input type='date' name='date' id='date'><br>
			<button type='submit'>Submit</button>
			<p>GET users's exercise log: GET /api/exercise/log?{userId}[&from][&to][&limit]</p>
			<p{ } = required, [ ] = optional</p>
			<p>from, to = duration; limit = number</p>
		</form>
		
	</body>
</html>